@import 'tailwindcss';

/* Global tailwind styling */
@theme {
  /* Colors */
  --color-flux-dark-blue: #696fc7;
  --color-flux-light-blue: #a7aae1;
  --color-flux-beige: #f5d3c4;
  --color-flux-green: #5d866c;
  --color-flux-brown: #896c6c;
  --color-flux-burgandy: #703b3b;
  --color-flux-light-burgandy: #ad5e5e;

  /* Fonts*/
  --font-sana: 'Poppins', sans-serif;
}

/* Default stylings */
@layer base {
  html {
    color: var(--color-flux-beige);
  }
}
