@import "tailwindcss";

/* Global tailwind styling */
@theme {
  /* Colors */
  --color-flux-dark-blue: #696fc7;
  --color-flux-light-blue: #a7aae1;
  --color-flux-beige: #f5d3c4;
  --color-flux-green: #5d866c;
  --color-flux-brown: #896c6c;

  /* Fonts*/
  --font-sana: "Poppins", sans-serif;
}

/* Custom global themeing */
@layer components {
  .title-theme {
    @apply text-2xl text-flux-beige italic;
  }
  .rss-link {
    @apply hover:text-blue-400 hover:underline;
  }
}
